.categories-title{
    margin-top: 5rem;
}

.home-categories{
    height: 25rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}

.category-card{
    font-size: 1.3rem;
    font-weight: bold;
    height: 12rem;
    width: 12rem;
    border-radius: 2rem;
}

.category-card img{
    height: 70% !important;
}

.category-card span{
    margin-top: 1rem;
}

.banner{
    position: relative;
    width: 55%;
    height: 18rem;
    top: 0;
    left: 0;
    right: 0;
    margin-right: 1rem;
    flex-shrink: 0;
    background: url(./home-banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.btn-banner{
    position: absolute;
    bottom: 1rem;
    right: 5rem;
}

.btn-banner:hover{
    background-color: #8375d0;
}

.right-banner{
    height: 18rem;
    width: 40%;
    right: 0;
    top: 0;
    border-radius: 0.5rem;
    background-image: url(https://t3.ftcdn.net/jpg/04/71/00/20/360_F_471002062_tCBbTqeeMhHgMfCW86mQhdgpETooy3ID.jpg);
    background-size: cover;
    background-position: center;
}

.right-banner img{
    width: 12rem;
    height: 12rem;
}

.right-banner span{
    color: #FFF;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    -webkit-text-stroke: 1px white;
}

.right-banner-btn{
    width: 10rem;
    height: 3rem;
    background-color: #4B3E97;
    font-size: 1em;
}

.right-banner-btn:hover{
    background-color: #8375d0;
}

.slick-btn{
    -webkit-text-stroke-width: 0.1rem;
    width: 3rem;
    height: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

[data-bs-theme=light] .slick-btn{
    background: rgba(25,135,84, .7);
}

[data-bs-theme=dark] .slick-btn{
    background: rgba(255, 193, 7, .7);
}

.popular-products-container{
    width: 100%;
}

.popular-card{
    background-color: rgb(227, 225, 225) !important;
    height: 10rem;
    width: 13rem !important;
    border-radius: 1rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.popular-card img{
    max-height: 90%;
    max-width: 90%;
}

.popular-card img {
    margin: auto;
}

.popular-title{
    margin-left: 11rem;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
}

.slick-list{
    padding: 0 !important;
}

.slick-list .slick-track .slick-slide{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.slick-dots li button:before{
    margin-top: 1rem !important;
    font-size: 0.8rem !important;
}

[data-bs-theme=dark] .slick-next:before, [data-bs-theme=dark] .slick-prev:before{
    color: #ffc107;
}

[data-bs-theme=light] .slick-next:before, [data-bs-theme=light] .slick-prev:before{
    color: #198754;
}

[data-bs-theme=dark] .slick-dots li button:before {
    color: #ffc107 !important;

}

[data-bs-theme=light] .slick-dots li button:before {
    color: #198754 !important;
}

[data-bs-theme=dark] .popular-card:hover{
    padding: 0.5rem;
    border: 4px solid #ffc1077e !important;
}


[data-bs-theme=light] .popular-card:hover{
    padding: 0.5rem;
    border: 4px solid #19875481 !important;
}